---
layout: default_en
title: BrazilJS - Porto Alegre 2012
---

<section class="speakers" id="speakers">
    <h2>Speakers</h2>
    <ul>
    {% for speaker in site.categories['speakers-en'] %}
        <li><article>
            <a href="/en/speakers/#{{ speaker.title | downcase | replace:' ', '-' | replace:'.', '' }}">
                <hgroup>
                    <h3 class="speaker">{{ speaker.title }}</h3>
                    <h4 class="company">{{ speaker.subtitle }}</h4>
                    <span class="more">+</span>
                </hgroup>
                <span class="photo"><img src="{{ speaker.image }}" /></span>
                {% if speaker.sinopse %}
                <span class="sinopse">{{ speaker.sinopse }}</span>
                {% endif %}
            </a>
        </article></li>
    {% endfor %}
    </ul>
</section>

<section class="registration" id="register">
    {% include en/tickets.html %}
</section>

<section class="program" id="program">
    {% include en/program.html %}
</section>

<section class="hackday" id="hackday">
    {% include en/hackday.html %}
</section>

<section class="contact" id="contact">
    {% include contact.html %}
</section>

<section class="location" id="location">
    {% include en/location.html %}
</section>