---
layout: default
title: BrazilJS - Porto Alegre 2012
---
<!-- <section class="live" id="live">
    <h2>Assista ao vivo o BrazilJS no Terra</h2>
    <iframe src="http://sdp.terra.com.br/preplayer/default.aspx?contentid=277748&amp;profile=AoVivoGanesha&amp;country=br" scrolling="no" width="640" height="386" frameborder="0"></iframe>
</section>

<section class="broadcast">
    <h2>Cobertura</h2>
    <p>
        Se você perdeu alguma das apresentações ou quer conferir o material disponibilizado pelos palestrantes,<br>
        leia os reviews no blog da Grifo. Acesse <a href="http://gri.fo/braziljs" rel="external">gri.fo/braziljs</a>.
    </p>
</section> -->

<section class="speakers" id="speakers">
    <h2>Palestrantes</h2>
    <ul>
    {% for speaker in site.categories.speakers %}
        <li><article>
            <a href="/palestrantes/#{{ speaker.title | downcase | replace:' ', '-' | replace:'.', '' }}">
                <hgroup>
                    <h3 class="speaker">{{ speaker.title }}</h3>
                    <h4 class="company">{{ speaker.subtitle }}</h4>
                    <span class="more">+</span>
                </hgroup>
                <span class="photo"><img src="{{ speaker.image }}" /></span>
                {% if speaker.sinopse %}
                <span class="sinopse">{{ speaker.sinopse }}</span>
                {% endif %}
            </a>
        </article></li>
    {% endfor %}
    </ul>
</section>

<section class="registration" id="register">
    {% include tickets.html %}
</section>

<section class="program" id="program">
    {% include program.html %}
</section>

<section class="hackday" id="hackday">
    {% include hackday.html %}
</section>

<section class="contact" id="contact">
    {% include contact.html %}
</section>

<section class="location" id="location">
    {% include location.html %}
</section>