
<h2>About</h2>

<p>A ideia do BrazilJS surgiu em meados de 2008. Muitos eventos de tecnologia e de diversas linguagens diferentes estavam acontecendo na época. Jaydson e Felipe sempre foram entusiastas JavaScript, e sentiram a falta de uma conferência focada na linguagem que para eles tinha um futuro promissor.</p>

<p>Pouco tempo depois, em 2009 nasceu a primeira conferência JavaScript, a JSConf americana. Durante o ano de 2010 a ideia evoluiu. Christiano Milfont estava pensando no mesmo, fazer uma conferência JavaScript nacional. Unindo forças, Jaydson, Felipe e Christiano conseguiram em 2011 fazer a primeira conferência JavaScript do Brasil.</p>

<p>Na sua estreia em maio de 2011, o BrazilJS se tornou um dos maiores eventos JavaScript do mundo, contando com 600 participantes e mais de 20 palestras. Em 2012, teremos a segunda edição do evento, e temos o objetivo ousado de se tornar a maior conferência JavaScript do mundo.</p>

<h3>Curadores</h3>
<ul class="curators">
    <li>
        <img src="images/curators/jaydson.jpg" alt="" width="63" height="80" />
        <strong><a href="http://twitter.com/jaydson">@jaydson</a></strong>
        <p>Entusiasta JavaScript, Analista de Desenvolvimento Sênior no Terra Networks, possui 8 anos de experiência em 
            desenvolvimento Web, curador do BrazilJS e do RSJS. <a class="more" href="//jaydson.org">+</a></p>
    </li>
    <li>
        <img src="images/curators/milfont.jpg" alt="" width="63" height="80" />
        <strong><a href="http://twitter.com/cmilfont">@cmilfont</a></strong>
        <p>Software Developer, empreendedor, entusiasta de Javascript, organizador e criador de algumas comunidades de tecnologia no Ceará. <a class="more" href="//www.milfont.org/tech/about/">+</a></p>
    </li>
    <li>
        <img src="images/curators/felipe.jpg" alt="" width="63" height="80" />
        <strong><a href="http://twitter.com/felipenmoura">@felipenmoura</a></strong>
        - <a href="//felipenmoura.org">felipenmoura.org</a>
        <p>Analista de Desenvolvimento Sênior no Terra Networks, entusiasta de tecnologias web, trabalha há cerca de 8 anos com desenvolvimento e é bastante envolvido em projetos open source, além de ser curador do BrazilJS e do RSJS.</p>
    </li>
</ul>