<h2>Location</h2>

<div class="clearfix">
    <a class="mapa" href="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=teatro+bourbon+country,+porto+alegre&amp;aq=&amp;sll=-14.239424,-53.186502&amp;sspn=68.890091,84.375&amp;vpsrc=6&amp;t=v&amp;ie=UTF8&amp;hq=teatro+bourbon+country,+porto+alegre&amp;ll=-30.02262,-51.161797&amp;spn=0.063836,0.082397&amp;z=14&amp;iwloc=A&amp;cid=13058148275295292354"><img src="/images/mapa.png" alt="Ver mapa" /></a>
    <p>
        <strong>Teatro do Bourbon Country</strong><br/>
        Bourboun Shopping Country<br/>
        Av. Túlio de Rose, n 80 - SUC 301 A<br/>
        Porto Alegre / RS
    </p>
    <h3>Travel agency</h3>
    <p>
        <a href="//www.flytour.com.br/" rel="external"><img src="/images/sponsors/flytour.png"></a><br/>
        <strong>Flytour Serviços de Viagens</strong><br/>
        <a href="//www.flytoursul.com.br/eventos" rel="external">www.flytoursul.com.br/eventos</a><br/>
        <a href="mailto:eventos@flytoursul.com.br">eventos@flytoursul.com.br</a><br/>
        Phone: +55 51 3012 8203
    </p>
    <h3>Hotels</h3>
    <p>
        <strong>Holiday Inn</strong><br/>
        Avenida Carlos Gomes, 565<br/>
        Porto Alegre / RS<br/>
        <a href="//www.holidayinnportoalegre.com.br" rel="external">www.holidayinnportoalegre.com.br</a>
    </p>
</div>