<h3>Adamantium</h3>
<ul>
    <li><a href="//mozilla.org" rel="external"><img src="/images/sponsors/mozilla.png" alt="Mozilla" height="122" /></a></li>
    <li><a href="//www.w3c.br/" rel="external"><img src="/images/sponsors/w3c.png" alt="W3C Brasil" height="122" /></a></li>
    <li><a href="//www.nic.br" rel="external"><img src="/images/sponsors/nicbr.png" alt="NIC.br" height="122" /></a></li>
    <li><a href="//www.cgi.br" rel="external"><img src="/images/sponsors/cgibr.png" alt="CGI.br" height="122" /></a></li>
</ul>
<h3>Diamond</h3>
<ul>
    <li><a href="//terra.com" rel="external"><img src="/images/sponsors/terra.png" alt="Terra Networks" height="100" /></a></li>
</ul>
<h3>Bronze</h3>
<ul class="bronze">
    <li><a href="//github.com" rel="external"><img src="/images/sponsors/github.png" alt="GitHub" height="78" /></a></li>
    <li><a href="//globo.com" rel="external"><img src="/images/sponsors/globo.png" alt="Globo.com"  height="78" /></a></li>
    <li><a href="//liferay.com" rel="external"><img src="/images/sponsors/liferay.png" alt="Liferay"  height="78" /></a></li>
    <li><a href="//avadora.com.br" rel="external"><img src="/images/sponsors/avadora.png" alt="Avadora"  height="78" /></a></li>
</ul>
<h3>Supporters</h3>
<ul class="supporters">
    <li><a href="//www.procempa.com.br" rel="external"><img src="/images/sponsors/procempa.png" alt="Procempa" height="67" /></a></li>
    <li><a href="//google.com" rel="external"><img src="/images/sponsors/google.png" alt="Google" height="67" /></a></li>
    <li><a href="//eventick.com.br" rel="external"><img src="/images/sponsors/eventick.png" alt="Eventick" height="67" /></a></li>
    <li><a href="//www.targettrust.com.br" rel="external"><img src="/images/sponsors/target-trust.png" alt="Target Trust" height="67" /></a></li>
    <li><a href="//nyvra.net" rel="external"><img src="/images/sponsors/nyvra.png" alt="Nyvra" height="67" /></a></li>
    <li><a href="//www.arpnet.com.br" rel="external"><img src="/images/sponsors/arp.png" alt="Associação Riograndense de Propaganda" height="67" /></a></li>
    <li><a href="//www.ecore.com.br" rel="external"><img src="/images/sponsors/ecore.png" alt="E-Core" height="67" /></a></li>
    <li><a href="//www.kinghost.com.br" rel="external"><img src="/images/sponsors/kinghost.png" alt="Kinghost" height="67" /></a></li>
</ul>