<h3>Adamantium</h3>
<ul>
    <li><a href="//mozilla.org" rel="external"><img src="/images/sponsors/mozilla.png" alt="Mozilla" width="220" /></a></li>
</ul>
<h3>Diamond</h3>
<ul>
    <li><a href="//terra.com" rel="external"><img src="/images/sponsors/terra.png" alt="Terra Networks" width="180" /></a></li>
</ul>
<h3>Bronze</h3>
<ul class="bronze">
    <li><a href="//github.com" rel="external"><img src="/images/sponsors/github.png" alt="GitHub" width="140" /></a></li>
    <li><a href="//globo.com" rel="external"><img src="/images/sponsors/globo.png" alt="Globo.com"  width="140" /></a></li>
    <li><a href="//liferay.com" rel="external"><img src="/images/sponsors/liferay.png" alt="Liferay"  width="140" /></a></li>
    <li><a href="//avadora.com.br" rel="external"><img src="/images/sponsors/avadora.png" alt="Avadora"  width="140" /></a></li>
</ul>
<h3>Supporters</h3>
<ul class="supporters">
    <li><a href="//www.procempa.com.br" rel="external"><img src="/images/sponsors/procempa.png" alt="Procempa" width="120" /></a></li>
    <li><a href="//google.com" rel="external"><img src="/images/sponsors/google.png" alt="Google" width="120" /></a></li>
    <li><a href="//eventick.com.br" rel="external"><img src="/images/sponsors/eventick.png" alt="Eventick" width="120" /></a></li>
    <li><a href="//www.targettrust.com.br" rel="external"><img src="/images/sponsors/target-trust.png" alt="Target Trust" width="120" /></a></li>
    <li><a href="//nyvra.net" rel="external"><img src="/images/sponsors/nyvra.png" alt="Nyvra" width="120" /></a></li>
</ul>