<h2>Firefox Hack Day</h2>

<p><img src="/images/firefox-logo.png" width="100px">Aproveitem a visita a Porto Alegre, e inscreva-se gratuitamente para participar do hackday da Mozilla.</p>
<p>Una-se ao Brendan e outros representantes da Mozilla para codificar, testar, traduzir e interagir no sábado, após o BrazilJS!</p>
<p><strong>Apoio:</strong> <a href="http://www.thoughtworks.com/">ThoughtWorks</a></p>
<p><a class="button" href="//braziljs_hack.eventbrite.com" rel="external">Inscreva-se</a></p>
