
<h2>Programação</h2>

<div class="program-table">
    <div class="block program-1">
        <h3>Quinta-feira - 30 de Agosto</h3>
        <table>
            <thead>
                <tr>
                    <th>Horário</th>
                    <th>Programação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>8:00</th>
                    <td>Breakfast/Checkin</td>
                </tr>
                <tr>
                    <th>9:00</th>
                    <td>Abertura</td>
                </tr>
                <tr>
                    <th>9:20</th>
                    <td>
                        <a href="/palestrantes/#richard-d-worth">Richard Worth</a>
                    </td>
                </tr>
                <tr>
                    <th>10:20</th>
                    <td>Coffee-Break</td>
                </tr>
                <tr>
                    <th>10:40</th>
                    <td>
                        <a href="/palestrantes/#leonardo-balter">Leonardo Balter</a>
                        <strong>Tests Sucks</strong>
                        <p>Abordagem sobre os mitos e realidade dos testes unitários em JavaScript, ambientes, cobertura de código e planos sustentáveis de desenvolvimento. Descubra o que é muita conversa fiada e o que há de sexy nos testes</p>
                    </td>
                </tr>
                <tr>
                    <th>11:50</th>
                    <td>
                        <a href="/palestrantes/#maximiliano-firtman">Maximiliano Firtman</a>
                        <strong>Breaking limits on JavaScript with mobile HTML5</strong>
                        <p>Esta palestra dará informações detalhadas a desenvolvedores JavaScript sobre o ecosistema dos browsers mobile em 2012 e sobre como criar aplicações mobile bem sucedidas tanto para web browsers quanto para apps hibridas, como PhoneGap para distribuição.
                        <p>Browsers de hoje, versus engines híbridas e bem conhecidas das APIs do HTML5 e como elas trabalham, forçando o limite do desenvolvimento mobile: accelerometer, magnetometer, gyroscope access; performance timing, full-screen APIs, notification API, acesso a camera e muito mais.</p>
                        <p>Limitações ao lidar com browsers baseados em proxy, como o browser no Kindle, por exemplo. Migração do desktop: background code, file apis, performance.</p>
                        <p>Como debugar o JavaScript em browsers mobile?</p>
                        <p>E sobre o JavaScript e consumo da bateria? Qual a compatibilidade das APIs do HTML5 hoje, em browsers mobile? O que esperar deste futuro próximo?!</p>
                    </td>
                </tr>
                <tr>
                    <th>12:50</th>
                    <td>Almoço</td>
                </tr>
                <tr>
                    <th>14:00</th>
                    <td>
                        <a href="/palestrantes/#renato-mangini">Renato Mangini</a>
                        <strong>Web app ou aplicativo nativo? Tenha o melhor dos dois!</strong>
                        <p>Aprenda o que são e como desenvolver aplicativos web seguros, mas com comportamento e possibilidades equivalentes ao de código nativo. Desenvolvidas em HTML5, JavaScript e CSS, as Chrome Packaged apps têm look-and-feel similar ao de aplicativos nativos e conseguem acessar recursos que até então eram inacessíveis por um aplicativo web.</p>
                    </td>
                </tr>
                <tr>
                    <th>15:00</th>
                    <td>
                        <a href="/palestrantes/#eduardo-lundgren">Eduardo Lundgren</a>
                    </td>
                </tr>
                <tr>
                    <th>16:00</th>
                    <td>Coffee-Break</td>
                </tr>
                <tr>
                    <th>16:30</th>
                    <td>
                        <a href="/palestrantes/#mike-taylor">Mike Taylor</a>
                        <strong>JS on TV</strong>
                        <p>Nesta palestra vamos ver o panoroma de desenvolvimento de aplicativos para TV nos dias de hoje e, as restrições que existem para escrever JS para uma TV. São as "melhores práticas" a mesma coisa? Podemos contar com as ferramentas que já nos acostumamos a usar ao longo dos últimos anos em desenvolvimento com HTML5?</p>
                    </td>
                </tr>
                <tr>
                    <th>17:30</th>
                    <td>
                        <a href="/palestrantes/#dave-herman">Dave Herman</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="block program-2">
        <h3>Sexta-feira - 31 de Agosto</h3>
        <table>
            <thead>
                <tr>
                    <th>Horário</th>
                    <th>Programação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>8:00</th>
                    <td>Breakfast</td>
                </tr>
                <tr>
                    <th>9:00</th>
                    <td>
                        <a href="/palestrantes/#davidson-fellipe">Davidson Filipe</a>
                        <strong>Alta Performance em Aplicações JavaScript</strong>
                        <p>Conheça formas de melhorar o desempenho de aplicações que usam JavaScript, e aprenda boas práticas e dicas que irão trazer melhoras significavas no tempo de execução, download e interação de suas aplicações.</p>
                    </td>
                </tr>
                <tr>
                    <th>10:00</th>
                    <td>Coffee-Break</td>
                </tr>
                <tr>
                    <th>10:20</th>
                    <td>
                        <a href="/palestrantes/#zeno-rocha">Zeno Rocha</a>
                        <strong>Como não virar um Zumbi: Kit de sobrevivência</strong>
                        <p>Um panorama sobre o ecossistema de ferramentas voltadas ao desenvolvimento front-end. Como encarar o cenário atual, em que cada dia surgem novas ferramentas, sem virar um Zumbi. Vamos ver como usar as ferramentas ao seu favor, aumentando a produtividade</p>
                    </td>
                </tr>
                <tr>
                    <th>11:50</th>
                    <td>
                        <a href="/palestrantes/#fat">Fat</a>
                        <strong>i18n</strong>
                        <p>An in depth look at translation</p>
                    </td>
                </tr>
                <tr>
                    <th>12:20</th>
                    <td>Almoço</td>
                </tr>
                <tr>
                    <th>14:00</th>
                    <td>
                        <a href="/palestrantes/#michal-budzynski">Michal Budzynski</a>
                    </td>
                </tr>
                <tr>
                    <th>15:00</th>
                    <td>
                        <a href="/palestrantes/#daniel-filho">Daniel Filho</a>
                        <strong>Interagindo com a web além do teclado e mouse</strong>
                        <p>Estamos acostumados a interagir com websites através do mouse, e do teclado. Mas e se fosse possível em um jogo, controlar uma nave com movimentos da sua cabeça? E reconhecer cores através de objetos mostrados para a webcam? Agora, o limite para as interações está em suas mãos!</p>
                    </td>
                </tr>
                <tr>
                    <th>16:00</th>
                    <td>Coffee-Break</td>
                </tr>
                <tr>
                    <th>16:30</th>
                    <td>
                        <a href="/palestrantes/#benjamin-e-alman">Benjamin E Alman</a>
                        <strong>An Introduction to Grunt</strong>
                        <p>Durante esta palestra, Ben Alman irá mostrar como, de maneira fácil, empregar as melhores práticas no desenvolvimento JavaScript, como lint do seu código, escrever e executar testes de unidade, concatenar ou minificar arquivos usando o Grunt, uma ferramenta de build para JavaScript baseado em tarefas. Talvez você queira incorporar tarefas como estas em sua aplicação, ou talvez você só queira escrever um plugin jQuery e não quer gastar muito tempo com a criação de um scaffolding para o seu projeto. De qualquer maneira, até o final desta palestra, você terá uma compreensão muito melhor do como o Grunt pode ajudá-lo!</p>
                    </td>
                </tr>
                <tr>
                    <th>17:30</th>
                    <td>
                        <a href="/palestrantes/#brendan-eich">Brendan Eich</a>
                        <strong>Palestra: The State of JavaScript</strong>
                        <p>O JavaScript tem evoluído ao longo de 17 anos se tornando de uma apressada "linguagem de script" a uma linguagem de programação onipresente, rápida e dinâmica. Com a 6 ª Edição da ECMAScript (ES6), o JS está prestes a se tornar uma grande linguagem de propósito geral para aplicações web e o desenvolvimento de bibliotecas.</p>
                        <p>O JavaScript também se tornou o único candidato visível para cumprir o papel necessário de segurança, cross-browser, formato low-to-mid-level para a Web, com dezenas de compiladores visando o JS e suas APIs runtime.</p>
                        <p>Demonstrarei extensões mais recentes da linguagem que está sendo padronizada como ES6. Então, demonstrarei como surpreendentemente eficiente uma máquina virtual JavaScript moderna pode ser, quando rodando programas não triviais, escritos em linguagens como C++ compiladas para JS.</p>
                    </td>
                </tr>
                <tr>
                    <th>19:30</th>
                    <td>&nbsp;
                </tr>
            </tbody>
        </table>
    </div>
</div>
