
<h2>Programação</h2>

<div class="block">
    <table cellspacing="0" class="program-table program-1">
        <thead>
            <tr>
                <th colspan="2">30 de Agosto</th>
            </tr>
        </thead>
        <tbody>
            <tr class="highlight">
                <th scope="row">17h30</th>
                <td>Credenciamento</td>
            </tr>
            <tr>
                <th scope="row">18h30</th>
                <td>João Silva - Javascript e TDD</td>
            </tr>
            <tr>
                <th scope="row">19h30</th>
                <td>Martinez Gutierrez - Fazendo cagadas com MySQL</td>
            </tr>
            <tr>
                <th scope="row">19h30</th>
                <td>Ana Maria - Open standards</td>
            </tr>
            <tr class="highlight">
                <th scope="row">20h00</th>
                <td>Coffee-break</td>
            </tr>
            <tr>
                <th scope="row">20h30</th>
                <td>Ana Terra - CoffeeScript e Arduino</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="block">
    <table cellspacing="0" class="program-table program-2">
        <thead>
            <tr>
                <th colspan="2">31 de Agosto</th>
            </tr>
        </thead>
        <tbody>
            <tr class="highlight">
                <th scope="row">17h30</th>
                <td>Credenciamento</td>
            </tr>
            <tr>
                <th scope="row">18h30</th>
                <td>João Silva - Javascript e TDD</td>
            </tr>
            <tr>
                <th scope="row">19h30</th>
                <td>Martinez Gutierrez - Fazendo cagadas com MySQL</td>
            </tr>
            <tr class="highlight">
                <th scope="row">20h00</th>
                <td>Coffee-break</td>
            </tr>
            <tr>
                <th scope="row">20h30</th>
                <td>Ana Terra - CoffeeScript e Arduino</td>
            </tr>
            <tr>
                <th scope="row">20h30</th>
                <td>Yurilene Maria - Open standards</td>
            </tr>
            <tr>
                <th scope="row">20h30</th>
                <td>Anali Terra - Javascript e Arduino</td>
            </tr>
        </tbody>
    </table>
</div>