
<ul class="platinum">
    <li><img src="/images/sponsors/empty.png" alt="None" /></li>
    <li><img src="/images/sponsors/empty.png" alt="None" /></li>
</ul>

<ul class="gold">
    <li><img src="/images/sponsors/empty.png" alt="None" /></li>
    <li><img src="/images/sponsors/empty.png" alt="None" /></li>
    <li><img src="/images/sponsors/empty.png" alt="None" /></li>
</ul>

<ul class="silver">
    <li><img src="/images/sponsors/empty.png" alt="None" /></li>
    <li><img src="/images/sponsors/empty.png" alt="None" /></li>
    <li><img src="/images/sponsors/empty.png" alt="None" /></li>
    <li><img src="/images/sponsors/empty.png" alt="None" /></li>
</ul>

<ul class="bronze">
    <li><img src="/images/sponsors/github.png" alt="GitHub" /></li>
    <li><img src="/images/sponsors/globo.png" alt="Globo.com" /></li>
    <li><img src="/images/sponsors/terra.png" alt="Globo.com" /></li>
</ul>