<h3>Adamantium</h3>
<ul>
    <li><a href="//mozilla.org" rel="external"><img src="/images/sponsors/mozilla.png" alt="Mozilla" width="220" /></a></li>
</ul>
<h3>Diamante</h3>
<ul>
    <li><a href="//terra.com.br" rel="external"><img src="/images/sponsors/terra.png" alt="Terra Networks" width="180" /></a></li>
</ul>
<h3>Bronze</h3>
<ul class="bronze">
    <li><a href="//github.com" rel="external"><img src="/images/sponsors/github.png" alt="GitHub" width="140" /></a></li>
    <li><a href="//globo.com" rel="external"><img src="/images/sponsors/globo.png" alt="Globo.com"  width="140" /></a></li>
    <li><a href="//liferay.com" rel="external"><img src="/images/sponsors/liferay.png" alt="Liferay"  width="140" /></a></li>
</ul>