<h2>Inscrições</h2>

<div class="block">
    <p>Garanta já o seu ingresso para a maior conferência de JavaScript do universo. Conteúdo inédito, palestrantes renomados e um networking enriquecedor.</p>
    <p>Faça parte deste grande evento, o BrazilJS 2012 será imperdível!</p>
</div>

<div class="block tickets">
    <ul class="prices">
        <li><strong>Inscrições online encerradas</strong></li>
    </ul>
    Os ingressos estarão à venda somente no dia e no local do evento.
    Pagamentos poderão ser feitos com dinheiro e cartão de crédito/débito.
</div>