---
---
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta property="og:title" content="BrazilJS" />
    <meta property="og:description" content="BrazilJS 2012 - Porto Alegre. The greatest javascript conference in the universe!" />
    <meta property="og:image" content="http://braziljs.com.br/images/braziljs_thumb_200.jpg" />
    <meta property="og:url" content="http://braziljs.com.br/" />
    <meta name="author" content="Ricardo Tomasi (ricardo.cc)" />
    <meta name="description" content="BrazilJS 2012 - Porto Alegre. The greatest javascript conference in the universe!" />
    <meta name="keywords" content="braziljs javascript conference event porto alegre front-end client-side js development coffeescript node.js node web standards webdev webdesign" />
    {% include parts/header.html %}
</head>
<body>
<div id="wrapper">

    <header class="header">
        <hgroup>
            <h1><a href="/"><img src="/images/braziljs-logo.png" alt="BrazilJS" /></a></h1>
            <h2>Porto Alegre <b>2012</b></h2>
        </hgroup>
        <div class="text">
            <p class="line">
                The greatest<br /> 
                javascript conference<br /> 
                in the universe
            </p>
            <p class="where">
                August 30 &amp; 31<br /> 
                Teatro do Bourbon Country<br /> 
                Porto Alegre / RS
            </p>
        </div>
    </header>

    <ul class="lang">
        <li><a class="flag br" href="/" title="Português">Português</a></li>
    </ul>

    <nav id="nav">
        <ul>
            <li><a href="/en/">Home</a></li>
            <li><a href="/en/#register">Register</a></li>
            <li><a href="/en/speakers">Speakers</a></li>
            <li><a href="/en/#program">Program</a></li>
            <li><a href="/en/#location">Location</a></li>
            <li><a href="/en/about">About</a></li>
        </ul>
    </nav>

    <div class="main">
        <h2 class="vhidden">Share</h2>
        <ul class="share">
            <li class="twitter">
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Eu vou no BrazilJS 2012 em Porto Alegre!" data-related="braziljs" data-dnt="true" data-lang="en">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
            <li class="facebook">
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fbraziljs.com.br&amp;send=false&amp;layout=button_count&amp;width=114&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=326273014110834" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:114px; height:21px;" allowTransparency="true"></iframe>
            </li>
        </ul>
        {{ content }}
    </div>

</div>

    <footer id="footer">
        <section class="sponsors">
            <h2>Sponsors</h2>
            {% include en/sponsors.html %}
        </section>
        <section class="credits">
            <a href="//www.facebook.com/AltosEventos" class="altos-eventos" rel="external">Altos Eventos</a>
            <a href="//gri.fo" class="grifo" rel="external">Developed by Grifo</a>
        </section>
    </footer>

    <div id="poa"></div>

    {% include parts/footer.html %}
    
</body>
</html>