---
---
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6" lang="pt-BR"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="pt-BR"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="pt-BR"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt-BR"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta property="og:title" content="BrazilJS" />
    <meta property="og:description" content="BrazilJS 2012 - Porto Alegre. A maior conferência de Javascript do universo!" />
    <meta property="og:image" content="http://braziljs.com.br/images/braziljs_thumb_200.jpg" />
    <meta property="og:url" content="http://braziljs.com.br/" />
    <meta name="author" content="Ricardo Tomasi (ricardo.cc)" />
    <meta name="description" content="BrazilJS 2012 - Porto Alegre. A maior conferência de Javascript do universo!" />
    <meta name="keywords" content="braziljs javascript conferencia porto alegre palestras front-end client-side evento js programacao coffeescript node.js node web standards webdev webdesign" />
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% include parts/header.html %}
</head>
<body>
<div id="wrapper">

    <header class="header">
        <hgroup>
            <h1><a href="/"><img src="/images/braziljs-logo.png" alt="BrazilJS" /></a></h1>
            <h2>Porto Alegre <b>2012</b></h2>
        </hgroup>
        <div class="text">
            <p class="line">
                A maior conferência<br /> 
                de JavaScript<br /> 
                do universo
            </p>
            <p class="where">
                30 e 31 de Agosto<br /> 
                Teatro do Bourbon Country<br /> 
                Porto Alegre / RS
            </p>
        </div>
    </header>

    <ul class="lang">
        <li><a class="flag en" href="/en" title="English">English</a></li>
    </ul>

    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#register">Inscrições</a></li>
            <li><a href="/palestrantes">Palestrantes</a></li>
            <li><a href="/#program">Programação</a></li>
            <!-- <li><a href="/#hackday">Firefox Hack Day</a></li> -->
            <li><a href="/#contact">Contato</a></li>
            <li><a href="/#location">Local</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <div class="main">
        <h2 class="vhidden">Compartilhar</h2>
        <ul class="share">
            <li class="twitter">
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Eu vou no BrazilJS 2012 em Porto Alegre!" data-related="braziljs" data-dnt="true" data-lang="en">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
            <li class="facebook">
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fbraziljs.com.br&amp;send=false&amp;layout=button_count&amp;width=114&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=326273014110834" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:114px; height:21px;" allowTransparency="true"></iframe>
            </li>
        </ul>
        {{ content }}
    </div>

</div>

    <footer id="footer">
        <section class="sponsors">
            <h2>Patrocinadores</h2>
            {% include sponsors.html %}
        </section>
        <section class="curators">
            <h2>Curadores</h2>
            <ul>
                <li>
                    <h3>Cristiano Milfont</h3>
                    <img src="/images/curators/milfont.jpg" alt="" width="63" height="80" />
                    <strong><a href="http://twitter.com/cmilfont">@cmilfont</a></strong>
                    <a class="more" href="//www.milfont.org/tech/about/">+</a>
                    <p>Software Developer, empreendedor, entusiasta de Javascript, organizador e criador de algumas comunidades de tecnologia no Ceará.</p>
                </li>
                <li>
                    <h3>Felipe N. Moura</h3>
                    <img src="/images/curators/felipe.jpg" alt="" width="63" height="80" />
                    <strong><a href="http://twitter.com/felipenmoura">@felipenmoura</a></strong>
                    <a class="more" href="//felipenmoura.org">+</a>
                    <p>Analista de Desenvolvimento Sênior no Terra Networks, entusiasta de tecnologias web, trabalha há cerca de 8 anos com desenvolvimento e é bastante envolvido em projetos open source, além de ser curador do BrazilJS e do RSJS.</p>
                </li>
                <li>
                    <h3>Jaydson Gomes</h3>
                    <img src="/images/curators/jaydson.jpg" alt="" width="63" height="80" />
                    <strong><a href="http://twitter.com/jaydson">@jaydson</a></strong>
                    <a class="more" href="//jaydson.org">Mais sobre o curador</a>
                    <p>Entusiasta JavaScript, Analista de Desenvolvimento Sênior no Terra Networks, possui 8 anos de experiência em 
                        desenvolvimento Web, curador do BrazilJS e do RSJS.</p>
                </li>
            </ul>
        </section>
        <section class="credits">
            <p>Produzido por <a href="//www.facebook.com/AltosEventos" class="altos-eventos" rel="external">Altos Eventos</a></p>
            <a href="//gri.fo" class="grifo" rel="external">Desenvolvido por Grifo</a>
        </section>
    </footer>

    <div id="poa"></div>

    {% include parts/footer.html %}
</body>
</html>