@charset "utf-8";
@media (grifo) {
  /*  
           _|_|_|            _|      _|_|                
         _|        _|  _|_|        _|        _|_|         
         _|  _|_|  _|_|      _|  _|_|_|_|  _|    _|       
         _|    _|  _|        _|    _|      _|    _|       
           _|_|_|  _|        _|    _|        _|_|         
      - 
         Client-side com inteligência                     
  */
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.3;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.IR {
  display: block;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.vhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.vhidden.focusable:active,
.vhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: 'League Gothic';
  src: url('League_Gothic-webfont.eot');
  src: url('League_Gothic-webfont.eot?#iefix') format('embedded-opentype'), url('League_Gothic-webfont.woff') format('woff'), url('League_Gothic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  min-height: 100%;
}
html {
  height: 100%;
  background: url(../images/bg-lines.png);
}
#wrapper {
  width: 880px;
  padding: 0 50px;
  margin: 0 auto;
  color: #324340;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
#header,
#nav,
#main,
#footer {
  position: relative;
  z-index: 5;
}
#poa {
  position: absolute;
  top: 0;
  right: 0;
  height: 590px;
  width: 100%;
  background: url(../images/porto-alegre.jpg) no-repeat fixed center top;
  z-index: -1;
}
@media only screen and (min-width: 980px) {
  #poa {
    background-size: 100% auto;
  }
}
#header {
  width: 100%;
  padding: 35px 0;
  height: 520px;
  font-family: "League Gothic", sans-serif;
  text-align: center;
  color: #e6fffd;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
#header h1 {
  display: block;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  width: 432px;
  height: 120px;
  background: url(../images/braziljs-logo.png) no-repeat 0 0;
  margin: 0 auto;
}
#header h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.1;
}
#header h2 b {
  color: #c5f17f;
  font-weight: 400;
}
#header hgroup {
  margin-bottom: 185px;
}
#header p {
  font-size: 42px;
  line-height: 1;
}
#header .line,
#header .where {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 330px;
  vertical-align: top;
}
#header .line {
  text-align: right;
  padding-right: 35px;
  color: #c5f17f;
  text-transform: uppercase;
}
#header .where {
  text-align: left;
}
@media only screen and (min-width: 1130px) {
  #poa {
    height: 660px;
  }
  #header {
    height: 590px;
  }
  #header hgroup {
    margin-bottom: 240px;
  }
}
@media only screen and (min-width: 1600px) {
  #poa {
    height: 800px;
  }
  #header {
    height: 730px;
  }
  #header hgroup {
    margin-bottom: 440px;
  }
}
#nav {
  text-align: center;
  position: relative;
  top: -22px;
}
#nav li,
#nav a {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#nav a {
  background: #333;
  height: 40px;
  line-height: 43px;
  letter-spacing: 1px;
  padding: 0 25px;
  margin: 0 10px;
  font-family: "League Gothic", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: #97df66;
  cursor: pointer;
}
#nav li.active a,
#nav a:hover,
#nav a:active {
  color: #e6fffd;
}
#main h2 {
  font-size: 48px;
  color: #324340;
  text-shadow: 3px 3px 0px #c5f17f;
}
#main section {
  margin-top: 50px;
  padding: 20px 0;
}
#main #registration:before {
  content: ' ';
  display: block;
  background: rgba(0, 0, 0, 0.5);
}
#footer {
  padding: 40px 0;
  margin-top: 80px;
  background-color: rgba(208, 216, 216, 0.45);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 60, 60, 0.05)), to(rgba(50, 60, 60, 0.4)));
  background-image: -webkit-linear-gradient(top, rgba(50, 60, 60, 0.05), rgba(50, 60, 60, 0.4));
  background-image: -moz-linear-gradient(top, rgba(50, 60, 60, 0.05), rgba(50, 60, 60, 0.4));
  background-image: -ms-linear-gradient(top, rgba(50, 60, 60, 0.05), rgba(50, 60, 60, 0.4));
  background-image: -o-linear-gradient(top, rgba(50, 60, 60, 0.05), rgba(50, 60, 60, 0.4));
  background-image: linear-gradient(to bottom, rgba(50, 60, 60, 0.05), rgba(50, 60, 60, 0.4));
  text-align: center;
  border-bottom: 10px solid #557777;
}
