@import "reset";
@import "mixins";

//# variables
@pagewidth: 980px;
@titles: "League Gothic", sans-serif;

@offwhite: #e6fffd;
@lightgreen: #c5f17f;
@green:#97df66;
@textgreen:#aad142;
@dark:#324340;
@blue:#0099FF;

.striped() {
    background:url(../images/bg-lines.png);
}

.button {
    @basecolor: #aad142;
    background:@basecolor;
    font:400 28px/1 @titles;
    color:#fff;
    text-shadow:-1px -1px rgba(0,0,0,0.5);
    text-align:center;
    .inline-block();
    padding:0 30px;
    height:42px;
    line-height:42px;
    border:4px solid darken(@basecolor, 7.5);
    .border-radius(6px);
    @shadow: inset 0 -4px 20px rgba(0,20,0,0.1), 0px 3px 8px rgba(0,0,0,0.15);
    .box-shadow(@shadow);
    &:hover {
        color:#fff;
        background:lighten(@basecolor, 4);
    }
    margin:20px 0;
}

//# fonts
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

//# user styles
html, body { min-height:100%; }

html {
    height:100%;
    .striped();
}

#wrapper {
    max-width:@pagewidth - 100px;
    padding:0 50px;
    margin:0 auto;
    color:@dark;
}

a {
    text-decoration:none;
    color:darken(@blue, 10);
}

h1,h2,h3,h4,h5 {
    font-family:@titles;
    font-weight:400;
    text-transform:uppercase;
}

.header,
#nav,
#main,
#footer {
    position:relative;
    z-index:5;
}

@headerpad: 35px;
@headerheight: 590px;

#poa {
    position:absolute;
    top:0;
    right:0;
    height:@headerheight;
    width:100%;
    background:url(../images/porto-alegre.jpg) no-repeat fixed center top;
    @media only screen and (min-width: 980px) {
        background-size:100% auto;
    }

    z-index:-1;
}

.header {
    width:100%;
    padding:@headerpad 0;
    height:@headerheight - (@headerpad * 2);
    font-family:@titles;
    text-align:center;
    color:@offwhite;
    text-shadow:0 1px 6px rgba(0,0,0,0.1);
    position:relative;
    h1 {
        margin:0 auto;
    }
    h2 {
        font-size:60px;
        text-transform:uppercase;
        font-weight:400;
        line-height:1.1;
        b {
            color:@lightgreen;
            font-weight:400;
        }
    }
    p {
        font-size:42px;
        line-height:1;
    }
    .text {
        position:absolute;
        top:65%;
        width:100%;
        max-width:980px;
        text-align:center;
        font-size:42px;
        line-height:1;
        z-index:50;
    }
    .line, .where {
        .inline-block();
        width:330px;
        vertical-align:top;
    }
    .line {
        text-align:right;
        padding-right:17px;
        color:@lightgreen;
        text-transform:uppercase;
    }
    .where {
        text-align:left;
        padding-left:17px;
    }
}

// large screens
@media only screen and (min-width: 1080px) {
    @h: 40px;
    .header { height:@headerheight + @h - (@headerpad * 2); }
    #poa { height:@headerheight + @h; }
}
@media only screen and (min-width: 1140px) {
    @h: 70px;
    .header { height:@headerheight + @h - (@headerpad * 2); }
    #poa { height:@headerheight + @h; }
}
@media only screen and (min-width: 1260px) {
    @h: 100px;
    .header { height:@headerheight + @h - (@headerpad * 2); }
    #poa { height:@headerheight + @h; }
}
@media only screen and (min-width: 1340px) {
    @h: 140px;
    .header { height:@headerheight + @h - (@headerpad * 2); }
    #poa { height:@headerheight + @h; }
}
@media only screen and (min-width: 1460px) {
    @h: 180px;
    .header { height:@headerheight + @h - (@headerpad * 2); }
    #poa { height:@headerheight + @h; }
}
@media only screen and (min-width: 1600px) {
    @h: 220px;
    .header { height:@headerheight + @h - (@headerpad * 2); }
    #poa { height:@headerheight + @h; }
}
@media only screen and (min-width: 1720px) {
    @h: 300px;
    .header { height:@headerheight + @h - (@headerpad * 2); }
    #poa { height:@headerheight + @h; }
}

// small screens
@media only screen and (max-width: 600px) {
    #wrapper {
        padding:0 20px;
    }
    #poa {
        height:500px;
    }
    .header {
        padding:15px 0;
        height:470px;
        img { width:90%; }
        h2 { font-size:48px; }
        .text {
            top:45%;
        }
        .line, .where {
            display:block;
            width:auto;
            text-align:center;
            padding:0;
            margin-bottom:20px;
            margin:0 auto 20px;
            font-size:32px;
        }
    }
}
@media only screen and (max-width:480px) {
    .header {
        h2 { font-size:32px; }
    }
}
// landscape

@media only screen and (min-width:321px) and (max-device-width:480px) {
    .header {
        img { width:40%; }
        h2 { font-size:20px; }
    }
    .text {
        top:58%;
    }
    .line, .where {
        font-size:18px;
    }
    .share {
        margin-top:0;
    }
}

#nav {
    text-align:center;
    position:relative;
    top:-22px;
    li, a {
        .inline-block();
    }
    a {
        background:#333;
        height:40px;
        line-height:43px;
        letter-spacing:1px;
        padding:0 25px;
        margin:0 10px;
        font-family:@titles;
        font-size:28px;
        text-transform:uppercase;
        color:@green;
        cursor:pointer;
    }
    li.active a,
    a:hover,
    a:active {
        color:@offwhite;
    }
    @media only screen and (max-width: 600px) {
        top:20px;
        margin-bottom:40px;
        li {
            display:block;
            margin-bottom:10px;
        }
        a {
            width:50%;
            font-size:22px;
            border-radius:4px;
        }
    }
}

.main {
    h2 {
        font-size:48px;
        color:@dark;
        text-shadow:3px 3px 0px @lightgreen;
        margin-bottom:20px;
    }
    section {
        margin-top:50px;
        padding:20px 0;
    }
    .block {
        display:inline-block;
        vertical-align:top;
        _float:left;
        width:50%;
        margin-right:-4px;
        @media only screen and (max-width:600px){
            display:block;
            width:auto;
            margin-bottom:20px;
        }
    }
    @media only screen and (max-width: 600px) {
        section {
            margin-top:20px;
            h2 {
                margin-left:-20px;
                background:rgba(100,130,110,0.1);
                border:1px solid lighten(@textgreen, 30);
                border-width:1px 0;
                padding:0 20px;
                width:100%;
                text-align:center;
            }
        }
    }
}

.registration {
    &:before {
        content:' ';
        display:block;
        background:rgba(90,90,90,0.05);
        position:absolute;
        right:0;
        left:0;
        height:300px;
        z-index:-1;
        margin-top:-20px;
        @media only screen and (max-width:600px){
            display:none;
        }
    }
    .prices {
        font: 36px/1.2 @titles;
        color:lighten(@dark, 5);
        strong { font-weight:400; }
    }
}

.speakers {
    ul {
        margin:40px 0 20px;
    }
    li {
        display:inline-block;
        vertical-align:top;
        _float:left;
        position:relative;
        min-height:120px;
        padding:20px 20px 20px 140px;
        width:440px - 170;
        @media only screen and (max-width:600px){
            width:auto;
        }
    }
    .speaker {
        font-size:36px;
        line-height:1;
    }
    .company {
        font-size:24px;
        color:@textgreen;
        line-height:1;
    }
    .photo {
        float:left;
        width:120px;
        height:120px;
        margin-right:20px;
        overflow:hidden;
        position:absolute;
        left:0;
        top:0;
        img,
        canvas {
            position:absolute;
            top:0;
        }
        .active {
            opacity:0;
            .transition(opacity .6s ease-out);
            z-index:3;
        }
        &:hover img {
            top:-120px;
        }
        &:hover .active {
            opacity:1;
        }
    }
    .more {
        display:block;
        background:@blue;
        height:14px;
        width:16px;
        border-radius:2px;
        border:0;
        color:#fff;
        font-size:16px;
        font-weight:700;
        text-align:center;
        line-height:10px;
        padding:0 0 2px;
        margin:5px 0;
        &:hover {
            background:lighten(@blue, 5);
        }
    }
}

.speakers article:active {
    img {
        top:-120px;
    }
    .active {
        opacity:1;
    }
}

.js .speakers {
    p {
        position:absolute;
        top:0;
        left:0;
        visibility:hidden;
        z-index:-1;
        
        z-index:10;
        .transition(all .5s);
        font-size:15px;
        line-height:1.2;
    }
    p[id] {
        visibility:visible;
        position:static;
        z-index:10;
        height:0;
        overflow:hidden;
    }
}

@media only screen and (max-width: 600px) {
    .speakers {
        li {
            padding:10px 10px 10px 70px;
            min-height:60px;
        }
        .speaker { font-size:32px; }
        .company { font-size:22px; }
        .photo {
            width:60px;
            height:60px;
            img, canvas {
                width:60px;
            }
            &:hover img {
                top:-60px;
            }
        }
        article:active{
            img { top:-60px; }
        }
    }
}

#footer {
    padding:40px 0;
    margin-top:80px;
    @from: rgba(50,60,60,0.05);
    @to: rgba(50,60,60,0.4);
    .linear-gradient(@from, @to);
    text-align:center;
    border-bottom:10px solid #557777;
}